<div class="page_cont_padd">
	<div class="page_container">

		<!--heading text-->
		<div class="col-md-12">
			<div class="header_button">
				<!--<button type="button" class="btn btn-primary" id="wdt_re">Litigation Summary</button>-->
				<h2 style="color: #032BEC; font-size: 24px; float: left;">Change 	Password</h2>
				<!-- <a ng-click="backToPreviousState()"><img 	src="images/DashboardIcons/backold.png" class="backButton" 	width="100px;"></a> -->
				<site-header Back="" forward="forward"></site-header>
			</div>
		</div>
		<div style="clear: both"></div>
		<form  name="changePasswordForm" autocomplete="off" novalidate>
			<div class="f_form_content">
				<h2>Change Password</h2>
				<div class="row">
					<div class="form-group">
						<div class="col-md-6">
							<label>Old Password:</label>
							<input id="oldPassword" class="form-control" type="password" ng-model="changePwObj.user_user_old_password" name="oldPassword" ng-keyup="changePwObj.user_user_new_password=''; changePwObj.cnfPassword=''" required />
							<div ng-messages="changePasswordForm.oldPassword.$error" ng-if="changePasswordForm.$submitted">
							  <span class="error-text" ng-message="required">Enter old password.</span>
							</div>
						</div>
					</div>
				</div>
				
				<div class="row">
					<div class="form-group">					
						<div class="col-md-6">	
						<hr/>				
						<p>
						<em>Note : New Password should be minimun 8 characters. (Atleast one Uppercase, one Lowercase letter one Digit and one Special character )</em></p>	
							<label>New Password:</label> 
							<input id="newPassword"  class="form-control" type="password" name="newPassword" ng-model="changePwObj.user_user_new_password" ng-pattern="/^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[_!@#\$%\^&\*])[a-zA-Z\d_!@#\$%\^&\*]{8,}$/" ng-keyup="changePwObj.cnfPassword=''"  required un-matcher="{{changePwObj.user_user_old_password}}" />
								
							<div ng-messages="changePasswordForm.newPassword.$error" ng-if="changePasswordForm.$submitted">
							  <span class="error-text" ng-message="required">Enter new password.</span>
							
							</div>
							<div ng-messages="changePasswordForm.newPassword.$error" ng-if="changePasswordForm.newPassword.$touched">
							  <span class="error-text" ng-message="pattern">Password should be minimun 8 characters. (atleast one Uppercase,one lowercase letter, one digit and one Special character)</span>
							
							</div>
						<div ng-messages="changePasswordForm.newPassword.$error" ng-if='changePasswordForm.newPassword.$touched'>
							<div class="error-text"   ng-message="unMatcher">New password should not same as old password.</div>
						</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="form-group">
						<div class="col-md-6">
							<label>Confirm Password:</label> 
						<!-- 	<input id="confPassword" class="form-control" type="password"  name="confPassword" ng-model="changePwObj.confPassword" required  matcher="{{changePwObj.user_user_new_password}}" />
						 -->
						 	<input id="cnfPassword"  class="form-control" type="password" name="cnfPassword" ng-model="changePwObj.cnfPassword"  required confirm-pwd="changePwObj.user_user_new_password" />
								
						 	<div ng-messages="changePasswordForm.cnfPassword.$error" ng-if="changePasswordForm.$submitted">
							  <span class="error-text" ng-message="required">Enter Confirm password.</span>
							</div>
							<div ng-messages="changePasswordForm.cnfPassword.$error" ng-if="changePasswordForm.cnfPassword.$touched">
							    <div class="error-text" ng-message="password">Confirm password must be equal to new password.</div>
							</div>
						</div>
					</div>
				</div>
				<br />
				<div class="row">
					<div class="form-group">
						<div class="col-md-2"></div>
						<div class="col-md-4">
							<input class="btn btn-success" type="submit" name="save" value="Change Password" ng-click="changePassword(changePasswordForm.$valid)" /> &nbsp;
						 
<!-- 						  <button type="submit"  ng-click="changePassword(changePasswordForm.$submitted)" class="btn btn-success">Change Password</button> -->
					
						    <input class="btn btn-danger" type="reset" name="reset" value="Clear" />
						</div>
					</div>
				</div>
			</div>
		</form>
	</div>
	</div>