
<div class="page_cont_padd">
	<div class="page_container">
		<div class="container">

			<div class="col-md-10">
				<div class="header_button">
					<!--<button type="button" class="btn btn-primary" id="wdt_re">Litigation Calender</button>-->
					<h2 id="user_header">Logs Manager</h2>
					<!-- <a  ng-click="backToPreviousState()" ><img src="images/DashboardIcons/backold.png" class="backButton" width="100px;"></a> -->
					<site-header Back="" forward="forward"></site-header>

				</div>
			</div>

			<!-- <div class="col-md-10">
		<div class="header_button">
			<h3>Compliance Manager</h3>
			<a href="./dashboard"><img style="margin-top: -12px; margin-left: 18px; padding-left: 0px; padding-right: 0px; margin-right: 0px;" src="images/DashboardIcons/backold.png" class="menu" width="100px;"></a>
		</div>	
		</div>	 -->
			<div class="f_form_content" id="margin_style">
				<div class="col-md-12">
					<div class="col-md-2">
						<a ui-sref="loginLogs">
							<center>
								<img src="logs/login.png" height="110px"
									width="120px">
							</center>
							<h4 class="text_style">Login Logs</h4>
						</a>
					</div>
					<div class="col-md-2">
						<a ui-sref="taskAssignLogs">
							<center>
								<img src="logs/taskAssign.png" height="110px"
									width="120px">
							</center>
							<h4 class="text_style">Task assign</h4>
						</a>
					</div>
					<div class="col-md-2">
						<a ui-sref="changeComplianceOwnerLogs">
							<center>
								<img src="logs/cc.jpg" height="110px"
									width="120px">
							</center>
							<h4 class="text_style">Change compliance owner</h4>
						</a>
					</div>
					<div class="col-md-2">
						<a ui-sref="taskConfigLogs">
							<center>
								<img src="logs/config.png" height="110px"
									width="120px">
							</center>
							<h4 class="text_style">Task Configuration</h4>
						</a>
					</div>
					<div class="col-md-2">
						<a ui-sref="emailLogs">
							<center>
								<img src="logs/mail.png" height="110px"
									width="120px">
							</center>
							<h4 class="text_style">Email Log</h4>
						</a>
					</div>
					<div class="col-md-2">
						<a ui-sref="complianceReportLogs">
							<center>
								<img src="logs/report.png" height="110px"
									width="120px">
							</center>
							<h4 class="text_style">Report Log</h4>
						</a>
					</div>
				</div>

				<div class="row">
					<div class="col-md-2">
						<a ui-sref="activateDeactivateLogs">
							<center>
								<img src="images/dash_board/enable.png" height="110px"
									width="120px">
							</center>
							<h4 class="text_style">Activate / De-Activate Tasks</h4>
						</a>
					</div>
					
					<div class="col-md-2">
						<a ui-sref="reactivationLogs">
							<center>
								<img src="images/dash_board/enable.png" height="110px"
									width="120px">
							</center>
							<h4 class="text_style">Tasks Re-Activation</h4>
						</a>
					</div>
					
					<!-- <div class="col-md-2">
						<a ui-sref="userCredentialsemailLogs">
							<center>
								<img src="images/dash_board/credentialLog.jpg" height="110px"
									width="120px">
							</center>
							<h4 class="text_style">Credential Logs</h4>
						</a>
					</div> -->
				
					<!-- <div class="col-md-2">
						<a ui-sref="mailLogs">
							<center>
								<img src="images/dash_board/enable.png" height="110px"
									width="120px">
							</center>
							<h4 class="text_style">Email Logs</h4>
						</a>
					</div> -->
					
					
				</div>
			</div>
		</div>
	</div>
</div>


