<!--     <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular-sanitize.js"></script>
 -->
<div>
<div class="page_cont_padd">
	<div class="page_container">
		<!--heading text-->

		<div class="col-md-12">
			<div class="header_button">
				<!--<button type="button" class="btn btn-primary" id="wdt_re">Litigation Calender</button>-->
				<h2 id="user_header">User Defined Frequency Tasks</h2>
				<!-- <a ng-click="backToPreviousState()"> <img
					src="images/DashboardIcons/backold.png" class="backButton"
					width="100px;" ></a> -->
				<site-header Back="" forward="forward"></site-header>
			</div>
		</div>

		<div class="div_style"></div>
		<!--first form-->

			<form autocomplete="off" name="importSubTaskForm" class="form-horizontal" novalidate>
			<div class="div_style"></div>
			<br>
			<div class="f_form_content re_height">
				<h2>Search</h2>
				<div class="col-md-12">
					<div class="col-md-4">
						<div class="form-group">
							<label class="control-label col-sm-4" for="sel1">Vertical :</label>
							<div class="col-sm-8">
									<select class="form-control" name="orga_id" ng-model="searchObj.orga_id" ng-options="e.orga_id as e.orga_name for e in entityList" ng-change="getEntityDependentArray()" >
									<option value="">--Select--</option>
									</select><!-- <i class="asterisk_input"></i>
									<div ng-messages="importSubTaskForm.orga_id.$error" ng-if="importSubTaskForm.$submitted">
										  <span class="error-text" ng-message="required">Select Entity.</span>
									</div> -->
							</div>
						</div>
					</div>
					<div class="col-md-4">
						<div class="form-group">
							<label class="control-label col-sm-4" for="sel1">Unit :</label>
							<div class="col-sm-8">
									<select class="form-control" name="loca_id" ng-model="searchObj.loca_id" ng-options="u.loca_id as u.loca_name for u in unitList" ng-change="getUnitDependentArray()" >
									<option value="">--Select--</option>
									</select><!-- <i class="asterisk_input"></i>
									<div ng-messages="importSubTaskForm.loca_id.$error" ng-if="importSubTaskForm.$submitted">
										  <span class="error-text" ng-message="required">Select unit.</span>
									</div> -->
							</div>
						</div>
					</div>

					<div class="col-md-4">
						<div class="form-group">
							<label class="control-label col-sm-4" for="sel1">Function
								:</label>
							<div class="col-sm-8">
									<select class="form-control" name="dept_id" ng-model="searchObj.dept_id" ng-options="f.dept_id as f.dept_name for f in functionList" ng-change="getFunctionDependentArray()" >
									<option value="">--Select--</option>
									</select><!-- <i class="asterisk_input"></i>
									<div ng-messages="importSubTaskForm.dept_id.$error" ng-if="importSubTaskForm.$submitted">
										  <span class="error-text" ng-message="required">Select function.</span>
									</div> -->
							</div>
						</div>
					</div>
					
					<div class="col-md-4">
						<div class="form-group">
							<label class="control-label col-sm-4" for="sel1">Executor :</label>
							<div class="col-sm-8">
									<select class="form-control" name="exec_id" ng-model="searchObj.executor_id" ng-options="ex.user_id as ex.user_name for ex in executorList">
									<option value="">--Select--</option>
									</select>
							</div>
						</div>
					</div>
					
					<div class="col-md-4">
						<div class="form-group">
							<label class="control-label col-sm-4" for="sel1">Evaluator :</label>
							<div class="col-sm-8">
									<select class="form-control" name="exec_id" ng-model="searchObj.evaluator_id" ng-options="ev.user_id as ev.user_name for ev in evaluatorList">
									<option value="">--Select--</option>
									</select>
							</div>
						</div>
					</div>
<br>
				<div class="col-md-12">
					<div class="form-group">
							<label class="control-label col-sm-4" for="sel1">Legislation
								:</label>
							<div class="col-sm-8">
									<ui-select ng-model="legiList.selected" theme="bootstrap"
										style="max-width: 545px;" ng-change="getalllegiRuleList();getEventSubEvent()"> 
										<ui-select-match placeholder="Select legislation">{{$select.selected.task_legi_name}}
										<button class="clear" ng-click="clearLegiList($event)">X</button>
										</ui-select-match>
									<ui-select-choices
										repeat="legiList in alllegiList | propsFilter: {task_legi_name: $select.search}">

									<div
										ng-bind-html="legiList.task_legi_name | highlight: $select.search"></div>
<!-- 									{{legiList.task_legi_name}}  -->
									</ui-select-choices> </ui-select>
							</div>
						</div>
				</div>
				
				<div class="col-md-12">
					<div class="form-group">
							<label class="control-label col-sm-4" for="sel1">Rule
								:</label>
							<div class="col-sm-8">
									<ui-select ng-model="legiRuleL.selected" ng-change="getEventSubEvent()" theme="bootstrap"  style="max-width: 545px;">
								    <ui-select-match placeholder="Select rules">
								     <button class="clear" ng-click="clearLegiRuleL($event)">X</button>
								    {{$select.selected.task_rule_name}}</ui-select-match>
								    <ui-select-choices repeat="legiRuleL in legiRuleList | propsFilter: {task_rule_name: $select.search}">
								     
								      <div ng-bind-html="legiRuleL.task_rule_name | highlight: $select.search"></div>
<!-- 								      {{legiRuleL.task_rule_name}} -->
								    </ui-select-choices>
								  </ui-select>
							</div>
						</div>
				</div>
				
				
								
				</div>
				<div class="col-md-12">
					<br>
					<div class="col-md-12 litigation_buttons">
						<center>
						<div id="assignButton" >
							<button type="submit" id="assign" ng-click="searchSubTasks()"  class="btn btn-myPrimary btn-save">Search</button>
						</div>
						
						</center>
					</div>
				</div>
			</div>

			<div class="table_data1">
				<div class="container">
					<div class="col-sm-6">
					
						<div class="col-sm-4">
							<label class="control-label " for="">Total Task : {{taskList.length}}</label> <label
								class="control-label lblcount" for="totaltask"></label>
						</div>
						
					</div>
					<table id="example" class="table table-striped table-bordered"
						width="100%" cellspacing="0">
						<thead>
							<tr id="table_row">
								<th>Task ID</th>
								<th>Name of Legislation</th>
								<th>Rule</th>
								<th>Reference</th>
								<th>Who</th>
								<th>When</th>
								<th>Activity</th>
								<th>Procedure</th>
								<th>Impact</th>
								<th>Original Frequency</th>
								<th>Configured Frequency</th>
								<!-- <th>Legal Due Date</th> -->
							</tr>
						</thead>

						<tbody id="task_table_body">
							<tr ng-repeat="sub in taskList" ng-if="taskList.length>0">
							<td><a target="_blank" ng-click="importSubTask(sub.clientTaskId)">{{sub.clientTaskId}}</a></td>
							<td>{{sub.task_legi_name}}</td>
							<td>{{sub.task_rule_name}}</td>
							<td>{{sub.task_reference}}</td>
							<td>{{sub.task_who}}</td>
							<td>{{sub.task_when}}</td>
							<td>{{sub.task_activity}}</td>
							<td>{{sub.task_procedure}}</td>
							<td>{{sub.task_impact}}</td>
							<td>{{sub.task_frequency}}</td>
							<td>{{sub.task_configured_frequency}}</td>
							<!-- <td>{{sub.task_impact}}</td> -->
							</tr>
							<tr ng-if="taskList.length==0"><td colspan="11">No record found</td></tr>
							 
						</tbody>
					</table>
				</div>
			</div>
		</form>
	</div>
</div>
</div>