<div>
	<div class="page_cont_padd">
		<div class="page_container">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<div class="header_button">
							<h2 id="user_header">Report Logs</h2>
							<!-- <a ng-click="backToPreviousState()"> <img
								src="images/DashboardIcons/backold.png" class="backButton"
								width="100px;"></a> -->
							<site-header Back="" forward="forward"></site-header>
						</div>
					</div>
				</div>

				<br />
				<div style="overflow-x: scroll;">
					<div style="overflow-x: scroll;">
						<div class="input-group"></div>
						<input type="text" class="form-control" placeholder="Search "
							ng-model="search">
					</div>
					<table id="loginLogTable"
						class="table table-striped table-bordered" width="100%"
						cellspacing="0">
						<thead id="task_table_body">
							<tr id="table_row">
								<th>Sr.No</th>
								<th>Entity</th>
								<th>Location</th>
								<th>Department</th>
								<th>Legal Status</th>
								<th>Tasks Impact</th>
								<th>From Date</th>
								<th>To Date</th>
								<th>Created Time</th>
							</tr>
						</thead>
						<tbody id="search_result">
							<tr ng-repeat="e in reportList | filter:search">
								<td>{{ $index + 1 }}</td>
								<td>{{ e.orgaName }}</td>
								<td>{{ e.locaName }}</td>
								<td>{{ e.functionName }}</td>
								<td>{{ e.legalStatus }}</td>
								<td>{{ e.tasksImpact }}</td>
								<td>{{ e.fromDate }}</td>
								<td>{{ e.toDate }}</td>
								<td>{{ e.createdTime }}</td>
							</tr>
							<tr ng-if="reportList.length==0">
								<td colspan="9"><center>No record found.</center></td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>
